@model UpdateProductVM
<div class="col-12 grid-margin stretch-card" style="margin-top:60px;">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Update Product</h4>

            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Photo</label>
                    <br />
                    <img src="~/assets/img/@Model.Image" style="width:150px; height:150px;" />
                    <input asp-for="Image" hidden />
                </div>
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Description">Description</label>
                    <textarea asp-for="Description" class="form-control" style="height: 150px !important;"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price">Price</label>
                    <input asp-for="Price" class="form-control" placeholder="Price">
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Photo">Add Photo</label>
                    <br />
                    <input asp-for="Photo" accept="image/*" class="form" />
                    <span asp-validation-for="Photo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId">Category</label>
                    <select asp-for="CategoryId" class="form-control" asp-items="@(new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name)))">
                        <option selected disabled value="">Choose Category</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ColorIds">Colors</label>
                    <select asp-for="ColorIds" class="form-control" style="height: 100px !important;" asp-items="@(new SelectList(Model.Colors, nameof(Color.Id), nameof(Color.Name)))">
                    </select>

                    <span asp-validation-for="ColorIds" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SizeIds">Sizes</label>
                    <select asp-for="SizeIds" class="form-control" style="height: 100px !important;" asp-items="@(new SelectList(Model.Sizes, nameof(Size.Id), nameof(Size.Name)))">
                    </select>

                    <span asp-validation-for="SizeIds" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary me-2">Submit</button>
                <a asp-action="index" class="btn btn-dark">Cancel</a>
            </form>
        </div>
    </div>
</div>